.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.Home h1 {
	margin: 20px 0 24px 0;
	font-size: 48px;
	text-align: center;
}

.Home nav {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
    border-top: 2px solid  #671414;
	border-bottom: 2px solid  #671414;
}

.Home nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.Home nav li {
	padding: 12px 36px;
	font-size: 20px;
    text-transform: uppercase;
}

.Home nav li[data-complete="true"] {
	text-decoration: line-through;
	color: rgba(103, 20, 20, 0.4);
}

.Home main {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 20px 0;
}

.Home hr {
	width: 2px;
	min-height: 100%;
	margin: 0;
    border: 0;
	background-color:  rgb(103, 20, 20);
}

@media (max-width: 780px) {
	.Home main {
		flex-direction: column;
	}

	.Home nav li {
		padding-right: 18px;
		padding-left: 18px;
	}
}
