@font-face {
    font-family: "Bungee Shade";
    src: url("./assets/fonts/BungeeShade-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/Oswald-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 40px 0 0 0;
    background-image: url('./assets/images/background.png');
    font-family: 'Oswald', helvetica, arial, sans-serif;
    color:  rgb(103, 20, 20);
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-family: 'Bungee Shade', cursive;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
